.searchbar-delivery-input{
    width: 990px;
    height: 40px;
    border-radius: 30px;
    border-color: grey ;
    border-style: solid;
    text-align: left;
    padding-left: 60px;
    align-items: center;
}


.button-buscar-lupa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    margin-left: 10px;
    transition: 500ms;
    cursor: pointer;
    color: black;
}
.button-buscar-lupa:hover{
    background-color: grey;
}
.lupa-searchbar-delivery{
    width: 20px;
    height: 20px;

}

.searchbar-contenedor-interno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}