.card {
    box-sizing: border-box;
    width: 380px;
    height: 340px;
    background-color: #eff0ea;
    opacity: 0.3;
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content:center;
    user-select: none;
    font-weight: bolder;
    margin: 15px;
    padding: 5px;
}

.card:hover {
    border: 1px solid white;
    transform: scale(1.05);
    opacity: 0.9;
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.cardcontenttext{
    display: flex;
    width: 330px;
    flex-direction: column;
    justify-content: center;
    
}

.titulo{
    color: black;
    text-shadow: 1px 1px brown;
    font-family:'Courier New', Courier, monospace;
}

.opinion{
    color: #ca3e49 ;
    text-shadow: 1px 1px black;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.imagen{
    width: 55px;
    height: 55px;
}
