.delivery{
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #CA3E49;
}


.contenedor-delivery-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}


.delivery-title{
    margin-top: 100px;
    margin-left: 10%;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.ofertas-title{
    margin-left: 43%;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.filtros-ordenamientos-zona{
    width: 100%;
    /* height: 10px; */
    background-color: transparent;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.zona-ofertas-del-dia{
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.boton-flecha-izquierda-scroll-bar-delivery{
    background-color: transparent;
    border: none;
    height: 330px;
    cursor: pointer;
    margin-right: 20px;
    /* opacity: -10; */
}

.boton-flecha-derecha-scroll-bar-delivery{
    background-color: transparent;
    border: none;
    height: 330px;
    cursor: pointer;
    margin-right: 20px;
}

.flecha-izquierda-scroll{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.flecha-derecha-scroll{
    width: 40px;
    height: 40px;
    opacity: 0.5;
}


.flecha-izquierda-scroll:hover{
    opacity: 1;
}

.flecha-derecha-scroll:hover{
    opacity: 1;
}
.zona-seleccion-ofertas-del-dia-delivery{
    display: flex;
    flex-direction: row;
    justify-content: center;
}





 .zona-ofertas-del-dia .cards-oferta-dia:nth-child(1){
    margin-left: 40px;
}

.zona-ofertas-del-dia .cards-oferta-dia:nth-child(6){
    margin-right: 40px;    
}


.zona-cartas-platos-seleccionados{
    width: 1200px;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    position: relative;
    overflow-x: hidden;

}


/* -----------------------------------------------  */
/* ZONA BUSQUEDA AVANZA Y FILTROS  */


.zona-opciones-busqueda-seleccion-delivery{
    padding-top: 30px;
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.searchbar-zona-delivery{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar-delivery-input{
    width: 990px;
    height: 40px;
    border-radius: 30px;
    border-color: grey ;
    border-style: solid;
    text-align: left;
    padding-left: 60px;
}

.lupa-searchbar-delivery{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 205px;
}

/* ZONA FILTROS FILTROS ICONOS  */

.burguer-filtros-delivery{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-right: 30px;
    /* transition: 500ms; */
    cursor: pointer;

}



.filter-buton-noseque{
    width: 150px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    transition: 500ms;
}


.filter-buton-noseque:hover{
    background-color: grey;
    }


.filtrar-icon-filtros-delivery{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 20px;
}

.texto-filtros-delivery{
    font-size: 15px;
    margin-left: 10px;
}

/* ZONA BOTONES FILTROS  */

.zona-botones-filtros-seleccion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}


.boton-seleccion-delivery{
    height: 35px;
    width: 150px;
    border-radius: 30px;
    border-color: transparent;
    transition: 500ms;
    cursor: pointer;
}
.boton-seleccion-delivery:hover{
    background-color: grey;
}



/* FILTRO FLOTANTE ZONA  */

.filtros-con-clase-flotante-depende-voton-si-display{
    display:grid;
    text-align: center;
    height: 400px;
    width: 100%;
    background-color: rgb(196, 192, 192);
    margin-bottom: 40px;
    
    /* padding-top: -1000px; */

}




.zona-filtros-flotantes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 110px;
    margin-right: 150px;

}


.texto-filtros-flotantes-titulo{
    width: 250px;
    font-size: 30px;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 100px;
}
.zona-textos-filtros-flotantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.zona-filtros-flotantes-izq-der-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton-filtro-flotante{
    width: 200px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 20px;
    cursor: pointer;
}


/* FOOTER  */

.footer-delivery{
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


.texto-footer-delivery{

    font-size: 18px;
    font-weight: 400;
}