.Landing{
    background-color: transparent;
    height: 649px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -60px;
}



/* CONTENEDOR PRINCIPAL DEL MAIN  */
.main-landing-dos-lados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}



/* DIVISIONES LANDING  */


/* ZONA IZQUIERDA  */

.landing-contenedor-izquierda{
    width: 50%;
    height: 649px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CA3E49;
}



.titular-landing-izquierda{
margin-top: 150px;
font-size: 50px;
font-weight: 570;
}


/* SECCION BOTONES  */

.botonera-secciones-landing-izquierda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 500px;

}

.button-delivery-seccion-landing{
    width: 200px;
    height: 42px;
    font-size: 20px;
    margin-right: 60px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.3s;

}

.button-reserva-mesa-seccion-landing{
    width: 200px;
    height: 42px;
    font-size: 20px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

/* SU HOVER  */

.button-delivery-seccion-landing:hover{
    background-color: grey;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.247);
    height: 45px;
    margin-top: 7px;
}

.button-reserva-mesa-seccion-landing:hover{
    background-color: grey;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.247);
    height: 45px;
    margin-top: 7px;
}




            /* TEXTO LINK INICIO SESION  */
            /* CONTENEDOR  */
.texto-iniciar-sesion-landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* LINK  */
.link-iniciarsesion-landing-izquierda{
 
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
}

/* TEXTO  */
.texto-iniciarsesion-landing-izquierda{
    
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    margin-left: 5px;
}

/* --------------------------------------------------  */

/* REDES ICONOS SECTOR  */

.zona-redes-iconos-landing{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height:50px;
    gap: 20px;
}

.facebook-ico{
    height: 35px;
    width: 35px;
}

.twitter-ico{
    height: 30px;
    width: 30px;
}

.instragram-ico{
    height: 35px;
    width: 35px;
}





/* TEXTO DERECHOS RESERVADOS HENRY GROUP 14  */

.text-landing-derecho-reservado{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 300;
}

/* -----------------------------------------------------------------  */

/* ZONA DERECHA  */
.landing-contenedor-derecha{
    width: 50%;
    height: 649px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: -1;
    /* margin-top: 80px; */

}

.img-landing-derecha-comida{
    width: 100%;
    height: 100%;
    z-index: -1;
    /* margin-bottom: 60px; */
}

.img-landing-derecha-comida-dos{
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #CA3E49;
}




