.contenedor{
    background: url('../../imgs/comida2.jpeg');
    width: 100%;
    position: absolute;
   
}

.textoIntroduccion{
    background-color: #eff0ea;
    opacity: 0.5;
    width: 100%;
    align-items: center;
    justify-content: center;
    display:flex;
}

.texto{
    color: black;
    text-shadow: 1px 1px brown;
}

.testimonios{
    left: 40px;
    display: flex;
    justify-content: space-evenly;
    float:right;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px;
    justify-items: stretch;
}  